{% extends 'base.html.twig' %}

{% block title %}Connect{% endblock %}

{% block body %}


    {% if app.user %}
        <div class="mb-3">
            {{ app.user.username }}, qu'est ce que tu fais encore la ??? <a
                    href="{{ path('app_logout') }}"> &nbsp; Je m'en vais ...</a>
        </div>
    {% endif %}

    <form method="post" class="login-form">
        {% if error %}
            <div class="alert alert-danger">Raté !! Essaie encore ...</div>
        {% endif %}

        {% if app.user == false %}

            <div class="cont-question">
                <h3>Tu penses avoir trouvé <br> ton code secret ???
                <br><br>
                    Essaie ! tu verras ...
                </h3>
            </div>

            <div class="form-group">
                <div class="fieldset">
                    <input type="text" name="numBillet" id="inputNumBillet" class="form-control"
                           placeholder="Numéro de billet" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Code secret"
                           required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-login" type="submit">
                        <img src="{{ asset('images/img/cadena.png') }}" class="cadenas" alt="cadenas">
                    </button>
                </div>


            </div>

        {% endif %}
    </form>


{% endblock %}
