
/* ********** GENERAL *********** */
html{
    display: block;
    height: 100%;
}

body {
    background-color: #002457;
    color: white;
    height: 100%;
}

.main {
    padding: 0 30px;
    display: flex;
    flex-direction:column;
    align-content: center;
    margin: 250px 0;

}

.img-header {
    width: 100%;
}

.container-principal {
    background-color: rgba(255, 255, 255, 0.16);
    padding: 20px;
}

.btn-ok {
    margin: 50px 0;
    padding: 20px;
    font-size: 40px;
}


/* ********** LOGIN *********** */

.cont-login {
    display: flex;
    flex-direction: column;
}

.cadenas {
    padding: 50px 0;
    width: 250px;
}

.form-control {
    margin: 20px 0;
    text-align: center;
    height: 100px;
    font-size: 50px;

}

.form-group{
    text-align: center;
}

.cont-citation, .cont-question {
    margin-bottom: 50px;
}
.cont-question{
    text-align: center;
}
.film {
    text-align: end;
}

.row {
    height: 100%;
}
.login-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* ********** INDEX *********** */

.bonjour {
    text-align: center;
    margin-bottom: 40px;

}


.bouton-container{
    text-align: center;
}

/* ********** PAGE CHOIX *********** */

.titre{
    text-align: center;
}

.conteneur-principal-vote {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont-choix{
    margin-bottom: 50px;
}

.conteneur-img-label{
    text-align: center;
}



.img-destination{
    width: 300px;
    height: 300px;
}

.btn-emplacement{
    text-align: center;
}

.cont-error{
    text-align: center;
}





/* ********** PAGE CHOIX *********** */

h3 {
    font-size: 50px;
    font-style: italic;
}


