{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}

    <div class="cont-error">
        <h3>SORRY !!</h3><br>

        <iframe src="https://giphy.com/embed/1ynC66vq3mJUC1tVlS" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hyperrpg-game-reaction-1ynC66vq3mJUC1tVlS">via GIPHY</a></p>

    </div>


{% endblock %}