{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}
    <div id="explication_container">

        <img src="{{asset('images/img/capitaine.png')}}" class="img-cap">

        <div class="btn-emplacement">
            <a href="{{ path('choix') }}"> <button class="btn btn-principal" type="button">J'accepte la mission</button></a>

        </div>
    </div>


{% endblock %}