{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}
    <div id="explication_container">
        <h1>Bonjour et bienvenue à bord de AirMuzon</h1>

        <p>C'est votre commandant de bord qui vous parle.</p>
        <p>Vous êtes ici pour choisir la prochaine destination voyage de Marina.</p>

        <a href="{{ path('choix') }}"> <button type="button">Je vote</button></a>
    </div>


{% endblock %}