{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}

    <div id="remerciement_container">
        <h1>Merci pour ta participation</h1>
    </div>
    <div>
        <a href="{{ path ('app_logout') }}"><button>Terminus</button></a>
    </div>

{% endblock %}