{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}

    <div class="container-principal">
        <img src="{{asset('images/img/merci.png')}}" class="img-cap">

        <div class="btn-emplacement">
            <a href="{{ path ('resultat') }}"><button class="btn-exit btn-secondary btn-ok">Voir les resultats</button></a>
            <a href="{{ path ('app_logout') }}"><button class="btn-exit btn-secondary btn-ok">EXIT &nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></button></a>
        </div>

    </div>

{% endblock %}