<div class="row">
    <div class="col-md-12">
        <img class ="img-header" src={{asset("images/img/footer.png")}}>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img class ="img-header" src={{asset("images/img/footer.png")}}>
    </div>
</div>